<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand border border-white p-2 m-1 text-white" href="#"
			>COMPANY</a
		>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-white" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#">List</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
