<!DOCTYPE html>
<html lang="en">
	<%- include("partials/header") %>

	<body>
		<section id="header">
			<%- include("partials/nav") %>

			<div class="content">
				<h1>Join us now!!!</h1>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae,
					voluptates? Mollitia, id eaque esse vero beatae quasi laboriosam qui.
				</p>
				<a href="/login">
					<button class="btn btn-outline-dark mr-2">LOGIN</button>
				</a>
				<a href="/register">
					<button class="btn btn-outline-dark">REGISTER</button>
				</a>
			</div>
		</section>

		<%- include("partials/footer") %>
	</body>
</html>
